.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #f9f9f9;
}

.login-box {
    background: white;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

    .login-box h2 {
        margin-bottom: 25px;
        color: #333;
    }

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

    .form-group label {
        font-weight: bold;
        display: block;
        margin-bottom: 5px;
    }

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.button-container {
    margin-top: 15px;
}


.extra-links {
    margin-top: 15px;
}

    .extra-links a {
        color: #007bff;
        text-decoration: none;
    }

        .extra-links a:hover {
            text-decoration: underline;
        }

.mensaje-error {
    color: #d9534f;
    margin-bottom: 10px;
    display: block;
}
